/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-container .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-container .owl-animated-in {
  z-index: 0;
}
.owl-container .owl-animated-out {
  z-index: 1;
}
.owl-container .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-container {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-container .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-container .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-container .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-container .owl-nav .owl-prev,
.owl-container .owl-nav .owl-next,
.owl-container .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-container.owl-loaded {
  display: block;
}
.owl-container.owl-loading {
  opacity: 0;
  display: block;
}
.owl-container.owl-hidden {
  opacity: 0;
}
.owl-container .owl-refresh .owl-item {
  display: none;
}
.owl-container .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width:100%;
  }
.owl-container .owl-item img {
  display: block;
  /*width: 100%;*/
  max-width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-container.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-container .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-container.owl-rtl {
  direction: rtl;
}
.owl-container.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-container {
  display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-container .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-container .owl-item img {
  transform-style: preserve-3d;
}

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-container .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-container .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-container .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-container .owl-video-playing .owl-video-tn,
.owl-container .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-container .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-container .owl-video-frame {
  position: relative;
  z-index: 1;
}





/* 	NEXT / PREV
	------------------  */
.owl-nav.disabled { 	display: none; }
	
.owl-nav > div {
	position: absolute;
	top: 50%; margin-top: -15px;
	right: 20px;
	background: none !important;
	width: 30px;
	height: 30px;
	cursor: pointer;
	}

.owl-nav .owl-prev {
	right: inherit;
	left: 20px;
	}
	
.owl-nav .disabled {
  	opacity: 0;
  	cursor: default !important;
	}
	
.owl-nav .owl-next:before, .owl-nav .owl-prev:before {
	content: "";
	width: 24px;
	height: 3px;
	background: #000000;
	display: block;
	transition: all 0.2s ease;
	position: absolute;
	top: calc(50% - 1.5px);
	left: 0;
	}
	.text-light .owl-nav .owl-next:before, .text-light .owl-nav .owl-prev:before,
	.nav-light .owl-nav .owl-next:before, .nav-light .owl-nav .owl-prev:before { background: #ffffff; }
	.owl-nav .owl-prev:before { left: 5px; }
	
.owl-nav .owl-next:after, .owl-nav .owl-prev:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 10px;
	border-top: 3px solid #000000;
    border-right: 3px solid #000000;
    display: block;
	width: 12px;
	height: 12px;
	-webkit-transform: translateY(-50%) rotate(45deg);
  	-moz-transform: translateY(-50%) rotate(45deg);
  	-ms-transform: translateY(-50%) rotate(45deg);
  	-o-transform: translateY(-50%) rotate(45deg);
  	transform: translateY(-50%) rotate(45deg);
	transition: all 0.2s ease;
	}
	.owl-nav .owl-prev:after { 
	border: none;
	border-bottom: 3px solid #000000;
    border-left: 3px solid #000000;
	left: 5px;
	}
	.text-light .owl-nav .owl-next:after, .text-light .owl-nav .owl-prev:after,
	.nav-light .owl-nav .owl-next:after, .nav-light .owl-nav .owl-prev:after { border-color: #ffffff; }

	

/* 	DOTS
	------------------  */
.owl-dots {
	text-align: center;
	position: absolute;
	bottom: 15px;
	left: 50%;
	-webkit-transform: translateX(-50%);
  	-moz-transform: translateX(-50%);
  	-ms-transform: translateX(-50%);
  	-o-transform: translateX(-50%);
  	transform: translateX(-50%);
	width: auto;
	height: auto;
	overflow:hidden;
	}
	.owl-container.content-slider { padding-bottom: 35px; }
	.owl-container.content-slider .owl-dots { bottom: 0px; }
	.owl-container[data-dots=false] { padding-bottom: 0px; margin-bottom: 0px; }
	
.owl-dots .owl-dot {
  	float: left;
  	margin: 0px 4px;
	position: relative;
	width: 10px;
  	height: 10px;
	background: none;
  	border-radius: 30px;
	}
	
.owl-dots .owl-dot:before {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: 6px;
  	height: 6px;
  	background: #000000;
  	display: block;
  	-webkit-border-radius: 30px;
  	-moz-border-radius: 30px;
  	border-radius: 30px;
	opacity: 0.7;
	filter: alpha(opacity=70);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	transition: all 0.2s ease;
	}
	.text-light .owl-dots .owl-dot:before,
	.nav-light .owl-dots .owl-dot:before { background: #ffffff; }
	.owl-dots .owl-dot.active:before {
  	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	top: 0px;
	left: 0px;
	width: 100%;
  	height: 100%;
	}