


#blue-words:hover {
    color: blue;
}

#blue-words {
    color: blue;
}

.hmw-text {
    background-color: rgba(0,0,0,0.5);
}



.proj-sub-header {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.title-bg {
    background-color: yellow;
    padding-right: 1rem;
    letter-spacing: .25rem;
}

.color-band {
    background-color: lightyellow;
}

.role {
    font-family: 'Hind', sans-serif;
    font-weight: 100;
}

.circle-imgs {
  border-radius: 50%;
}

#sect-2 {
    height: 100%;
    width: 50%;
    margin: 0;
}


.personal-numbers {
    font-family: 'Playfair Display';
}





.img-circle {
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
}

#center-title {
    align-content: center;
}

.highlighted-text {
    background-color: yellow;
    padding: 1rem;
    padding-bottom: 3rem;
}



.section-3 {
  background: url(/files/rh-uploads/az-desert_1680x1100.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home-cta {
    color: black;
    display:inline-block;
}

#cta-sub-text {
    color: black;
    background-color: white;
    padding-left: 1rem;
    letter-spacing: .1rem;
}

#cta-header {
    background-color: white;
    padding: 1rem;
}

#cta-section {
    width: 50%;
}





.sub-text {
    font-size: 2rem;
    font-family: 'Hind', sans-serif;
}



.label-text {
	font-family: 'Playfair Display';
    font-size: 2rem;
	font-weight: 300; 
	letter-spacing: 0.1em; 
}

.proj-header {
    font-family: 'Hind', sans-serif;
    font-weight: 900;
}

.title-color {
    color: black;
}



.proj-icons {
    height: 4rem;
    width: 4rem;
}

.proj-icons-sm {
    height: 2rem;
    width: 2rem;
    margin: 1rem;
}

.topic-icons {
    width: 2rem;
    height: 2rem;
    padding: 2rem;
}

.home-icons{
    width: 2.5rem;
    height: 2.5rem;
    padding: 2rem 2rem 0rem 2rem;
}

.important-text {
    font-weight: 700;
}

.text-justify {
    text-align: justify;
    -moz-text-align-last: right; /* Code for Firefox */
    text-align-last: right;
}


.sub-topic-icons {
    width: 3rem;
    height: 3rem;
}

#link:hover {
    color: blue; 	
}
#hover {
    font-family: 'Hind'; 
	font-weight: 600;
	letter-spacing: 0.01em; 
}

#amex-brands {
    font-family: 'Hind', sans-serif;
}

.insight {
    padding-bottom: .5rem;
}

.insight-number {
    font-weight: 100;
    font-size: 2rem;
}


.icon-bg-1 {
    border-radius: .5rem;
    padding: 1rem;
}

.icon-bg-2 {
    border-radius: .5rem;
    padding: 2rem;
    margin-bottom: .5rem;
}

.icon-bg-1:hover {
    background-color: cyan;
}

.icon-yellow {
    background-color: #FFFB8C;
}

.icon-green {
    background-color: #8BFFE1;
}

.icon-blue {
    background-color: #CBE5F1;
}

.hmw-text-1 {
    padding-left: .5rem;
    padding-right: .5rem;
    margin-top: .5rem;
    background-color: lightskyblue;
    border-radius: .25rem;
}

.hmw-text-2 {
    padding-left: .5rem;
    padding-right: .5rem;
    margin-top: .5rem;
    background-color: yellow;
    border-radius: .25rem;
}

/*
.hmw-text-lightblue {
    padding-left: .5rem;
    padding-right: .5rem;
    margin-top: .5rem;
    background-color: lightblue;
    border-radius: .25rem;
}
*/

.customer-highlights {
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-family: 'Playfair Display';
    color: black;
    background-color: azure;
}

.customer-highlights:hover {
    transition: background-color .5s ease;
    background-color: #b2ffff;
}



.fiixed-img {
    position: relative; 
   width: 100%; /* for IE 6 */
}

#fiixed-header-1 {
    position: absolute; 
    top: 40%; 
    left: 2rem; 
    line-height: 150%;
    width: 100%;
    font-family: 'Hind';
    font-weight: 400;
    font-size: 2.5rem;
}

.fiixed-subheader-1 {
    font-size: 1.5rem;
    font-family: 'Hind', sans-serif;
    font-weight: 100;
    
}

#fiixed-header-right {
    position: absolute;
    color: black;
    top: 40%; 
    text-align: right;
    line-height: 5rem;
    right: 5rem; 
    width: 100%;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    
}

#fiixed-header-left {
    position: absolute;
    color: black;
    top: 40%; 
    text-align: left;
    line-height: 5rem;
    left: 5rem; 
    width: 100%;
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
}

.left-icon-padding {
    padding-right: .5rem;
}

.wht-text {
    color: white;
}

.bg-section {
    background-color: lightyellow;
}

.bg-section-2 {
    background-color: #FFF5C7;
}

.bg-section-3 {
    background-color: #C9F1E8;
}

.bg-section-4 {
    background-color: #F7E7D2;
}

.bg-section-5 {
    background-color: #DCCFE1;
}


.img-header {
    position: absolute; 
    top: 200px; 
    left: 0; 
    width: 100%; 
}


.insight-number-max {
    font-size: 8rem;
    color: lightskyblue;
}

.symbol-1 {
    color: lightskyblue;
    font-size: 3rem;
    vertical-align: bottom;
}


#mediums {
    font-family: 'Hind',sans-serif;
    font-weight: 500;
}

.logo-hover:hover {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#designer {
    background-color: #DCCFE1;
    margin-top: 10px;
}

#coder {
    background-color: #FACCD6;
}

#researcher {
    background-color: #FFF5C7;
}

#fabricator {
    background-color: #C9F1E8;
}

#explorer {
    background-color: #BFE9D7;
}

#human {
    background-color: #F7E7D2;
}

.space {
    font-size: 1.5rem;
    padding-right: .5rem;
}


/* FLEX BOX */

/* ////////   demo here: https://codepen.io/team/css-tricks/pen/1ea1ef35d942d0041b0467b4d39888d3*/

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.nowrap  { 
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  

.flex-item {
    width: 150px;
    height: 150px;
    margin: 10px;
    margin-left: 0rem;
    font-size: 1.5em;
    text-align: center;
}

.flex-item-tool {
    width: 50px;
    height: 50px;
    margin: 1rem 2rem 1rem 2rem;
    margin-left: 0rem;
    font-size: 1.5em;
    text-align: center;
}

.home-icon {
    padding: 1.5rem .5rem .5rem 1rem;
}

.tool-icon {
    padding: .5rem;
    margin: 2rem;
}

#home-subtitle {
    font-family: 'Hind',sans-serif;
}

#tool-1st-icon {
    margin-top: 10px;
}


.home-btn {
    margin: .25rem;
    margin-bottom: .5rem;
    background-color: white;
}

.section-title {
    font-weight: 800;
	letter-spacing: 0.2em;
	text-transform: uppercase;
    font-family: 'Hind',sans-serif;
}

.home-cta-2 {
    background-color: aliceblue;
}

.home-icon-text {
    font-family: 'Hind',sans-serif;
    font-weight: 400;
	letter-spacing: 0.2em;
	text-transform: uppercase;
    font-size: .9rem;
}

#take-the-plung {
    margin-top: 1rem;
}


#contact-info {
    font-family: 'Hind',sans-serif;
    font-weight: 100;
	letter-spacing: 0.2em;
	text-transform: uppercase;
    font-size: 1.25rem;
}

.justify {
    text-align: justify;
}



.tool-tag {
    background-color: rgb(16,16,16) opacity:0.5;
    padding: .5rem .75rem .25rem .75rem;
    border-radius: .25rem;
    margin: .25rem;
    color: black;
}
