


#blue-words:hover {
    color: blue;
}

#blue-words {
    color: blue;
}

.hmw-text {
    background-color: rgba(0,0,0,0.3);
}

#home-cta {
    padding: 1rem;
    color: black;
    background: rgba(255,255,255,0.50);
    width:30%; 
    display:inline-block;
}




.proj-sub-header {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.title-bg {
    background-color: yellow;
    padding-right: 1rem;
    letter-spacing: .25rem;
}

.color-band {
    background-color: lightyellow;
}

.role {
    font-family: 'Hind', sans-serif;
    font-weight: 600;
}
