


#blue-words:hover {
    color: blue;
}

#blue-words {
    color: blue;
}

.hmw-text {
    background-color: rgba(0,0,0,0.3);
}



.proj-sub-header {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.title-bg {
    background-color: yellow;
    padding-right: 1rem;
    letter-spacing: .25rem;
}

.color-band {
    background-color: lightyellow;
}

.role {
    font-family: 'Hind', sans-serif;
    font-weight: 400;
    color: white;
}

.circle-imgs {
  border-radius: 50%;
}

#sect-2 {
    height: 100%;
    width: 50%;
    margin: 0;
}


.personal-numbers {
    font-family: 'Playfair Display';
}



.home-icons {
    height: 3rem;
    width: 3rem;
}

.img-circle {
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
}

#center-title {
    align-content: center;
}

.highlighted-text {
    background-color: yellow;
    padding: 1rem;
    padding-bottom: 3rem;
}



.section-3 {
  background: url(/files/rh-uploads/az-desert_1680x1100.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home-cta {
    color: black;
    display:inline-block;
}

#cta-sub-text {
    color: black;
    background-color: white;
    padding-left: 1rem;
    letter-spacing: .1rem;
}

#cta-header {
    background-color: white;
    padding: 1rem;
}

#cta-section {
    width: 50%;
}





.sub-text {
    font-size: 2rem;
}



.label-text {
	font-family: 'Playfair Display';
    font-size: 2rem;
	font-weight: 300; 
	letter-spacing: 0.1em; 
}
